<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.sadli.dao.JJtPlayerRoleMapper">
    <resultMap id="BaseResultMap" type="xyz.sadli.entity.JtPlayerRole">
        <id column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
    </resultMap>
    <sql id="Base_Column_List">
        uid
        , role_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from jt_player_role
        where uid = #{uid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from jt_player_role
        where uid = #{uid,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="xyz.sadli.entity.JtPlayerRole">
        insert into jt_player_role (uid, role_id)
        values (#{uid,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="xyz.sadli.entity.JtPlayerRole">
        insert into jt_player_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="xyz.sadli.entity.JtPlayerRole">
        update jt_player_role
        <set>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=VARCHAR},
            </if>
        </set>
        where uid = #{uid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="xyz.sadli.entity.JtPlayerRole">
        update jt_player_role
        set role_id = #{roleId,jdbcType=VARCHAR}
        where uid = #{uid,jdbcType=VARCHAR}
    </update>
</mapper>