<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.sadli.dao.JtLogMapper">
    <resultMap id="BaseResultMap" type="xyz.sadli.entity.JtLog">
        <id column="log_id" jdbcType="VARCHAR" property="logId"/>
        <result column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="trace_id" jdbcType="VARCHAR" property="traceId"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="resource" jdbcType="VARCHAR" property="resource"/>
        <result column="params" jdbcType="VARCHAR" property="params"/>
        <result column="log_time" jdbcType="TIMESTAMP" property="logTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        log_id
        , uid, trace_id, ip, method, path, resource, params, log_time
    </sql>

    <select id="selectAllJtLog" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from jt_log
    </select>

    <select id="selectJtLogListByUid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from jt_log
        where uid = #{uid,jdbcType=VARCHAR}
    </select>




    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from jt_log
        where log_id = #{logId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from jt_log
        where log_id = #{logId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="xyz.sadli.entity.JtLog">
        insert into jt_log (log_id, uid, trace_id,
                            ip, method, path, resource,
                            params, log_time)
        values (#{logId,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{traceId,jdbcType=VARCHAR},
                #{ip,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR},
                #{resource,jdbcType=VARCHAR},
                #{params,jdbcType=VARCHAR}, #{logTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="xyz.sadli.entity.JtLog">
        insert into jt_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                log_id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="traceId != null">
                trace_id,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="method != null">
                method,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="resource != null">
                resource,
            </if>
            <if test="params != null">
                params,
            </if>
            <if test="logTime != null">
                log_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                #{logId,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="traceId != null">
                #{traceId,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                #{method,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="resource != null">
                #{resource,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                #{params,jdbcType=VARCHAR},
            </if>
            <if test="logTime != null">
                #{logTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="xyz.sadli.entity.JtLog">
        update jt_log
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=VARCHAR},
            </if>
            <if test="traceId != null">
                trace_id = #{traceId,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                method = #{method,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="resource != null">
                resource = #{resource,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                params = #{params,jdbcType=VARCHAR},
            </if>
            <if test="logTime != null">
                log_time = #{logTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where log_id = #{logId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="xyz.sadli.entity.JtLog">
        update jt_log
        set uid      = #{uid,jdbcType=VARCHAR},
            trace_id = #{traceId,jdbcType=VARCHAR},
            ip       = #{ip,jdbcType=VARCHAR},
            method   = #{method,jdbcType=VARCHAR},
            path     = #{path,jdbcType=VARCHAR},
            resource = #{resource,jdbcType=VARCHAR},
            params   = #{params,jdbcType=VARCHAR},
            log_time = #{logTime,jdbcType=TIMESTAMP}
        where log_id = #{logId,jdbcType=VARCHAR}
    </update>
</mapper>